:root {
  --basic-first-background: #849D8F;
  --basic-second-background: #8996A6;
  --basic-third-background: #9D8B84;

}

*, *::before, *::after {
  box-sizing: border-box;
}

/* Global */
body {
  min-width: 1166px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--black);
  background-color: var(--basic-first-background);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.page {
  height: 100%;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

/* Шапка */
.header {
  position: relative;
  display: flex;
  width: 1146px;
  min-height: 124px;
  margin: 0 auto;
  justify-content: space-between;
  z-index: 2;
}

.header__left-side-wrapper {
  display: flex;
  flex-direction: column;

}

.header__right-side-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 23px;
  width: 300px;
  flex-wrap: wrap;
  align-items: flex-end;
}



.header__logo-navigation-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.header__logo {
  display: flex;
  width: 154px;
  height: 64px;
  margin-top: 9px;
}

.header__navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  margin: 0;
  padding: 0;
  margin-left: 24px;
  padding-top: 27px;
  min-height: 64px;
  list-style: none;

}
.header__navigation-item {
  position: relative;
  line-height: 18px;
  margin-right: 32px;
}

.header__navigation-link {
  display: block;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6px;
  padding-bottom: 7px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
}

.header__navigation-link-text {
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.header__navigation-link:active {
  background: #EDEDED;
  box-shadow: inset 0px 2px 1px #696969;
  border-radius: 26px;
}

/* Меню каталога*/
.header__navigation-item--catalog:focus {
  outline: none;
}

.header__navigation-item--catalog:focus .catalog-menu{
  outline: 1px solid #000000;

}
.header__navigation-item--catalog:hover {
  min-height: 36px;
}

.header__navigation-item--catalog:focus-within .header__navigation-link--catalog,
.header__navigation-item:hover .header__navigation-link {
  position: relative;
  text-align: center;
  min-height: 31px;
  border: none;
  color: #323232;
  background-color: #ffffff;
  border-radius: 26px;
}

.header__navigation-item--catalog:focus-within .header__navigation-link--current,
.header__navigation-item--catalog:hover .header__navigation-link--current,
.header__navigation-link--current:active,
.header__navigation-link--current {
  text-align: center;
  color: #ffffff;
  background-color: #D07058;
  border-radius: 26px;
  box-shadow: none;
}

.header__navigation-item--catalog:focus-within .header__navigation-link--current .header__navigation-link-text,
.header__navigation-item--catalog:hover .header__navigation-link--current .header__navigation-link-,
.header__navigation-link--current:active .header__navigation-link-text,
.header__navigation-link--current  .header__navigation-link-text {
  border: none;
}

.catalog-menu {
  display: none;
}

.header__navigation-item--catalog:hover .catalog-menu,
.header__navigation-item--catalog:focus-within .catalog-menu {
  display: block;
  position: absolute;
  top: 36px;
  left: -13px;
  width: 143px;
  min-height: 171px;
  padding: 0;
  margin: 0;
  list-style: none;
  background: #FFFFFF;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.catalog-menu__item {
  margin-top: 4px;
}

.catalog-menu__link {
  display: block;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 21px;
  min-height: 27px;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.catalog-menu__link:focus,
.catalog-menu__link:hover {
  background-color: #FBDED7;
  outline: none;
}


.catalog-menu__link:active {
  background-color: #F6B5A5;
}

.catalog-menu__item--new {
  margin-top: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

.catalog-menu__link--new {
  padding: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

}

.catalog-menu__link--current,
.catalog-menu__link--current:hover {
  color: #ffffff;
  background-color: #D07058;
}



.catalog-menu__new-link-text {
  display: block;
  padding-top: 13px;
  padding-left: 15px;
  padding-bottom: 14px;
  min-height: 38px;
  margin-left: 6px;
  margin-right: 9px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.2);

}




/* Хлебные крошки */
.header__bread-crumbs {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 28px;
}

.header__bread-crumbs-item {
  line-height: 16px;
}

.header__bread-crumbs-link {
  color: #ffffff;
  font-size: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.header__bread-crumbs-item--not-first::before {
  content: "»";
  color: #ffffff;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

.header__form-wrapper {
  display: flex;
  justify-content: flex-end;
}

/* Поиск */
.header__search-form-wrapper {
  display: none;
}

.header__search-form:hover .header__search-form-wrapper,
.header__search-form:focus-within .header__search-form-wrapper {
  display: block;
  position: absolute;
  margin: 0;
  top: 36px;
  right: 0px;
  width: 341px;
  height: 84px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #F8F7F4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;

}

.header__search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  font-size: 0;
  background-color: rgba(255, 255, 255, 0.2);
  fill: #ffffff;
}

.header__search-input {
  position: absolute;
  display: block;
  width: 311px;
  min-height: 44px;
  margin: 0;
  padding-top: 14px;
  padding-left: 14px;
  padding-bottom: 14px;
  border: 1px solid #D3D3D2;
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px;
}

.header__search-input::placeholder {
  color: #999999;
}

.header__search-form:focus-within .header__search-icon,
.header__search-form:hover .header__search-icon {
  background-color: #ffffff;
  fill: #323232;
}

.header__search-form {
  position: relative;
  height: 32px;
}

.header__search-form:focus-within,
.header__search-form:hover {
  height: 36px;
  margin-bottom: -4px;
  outline: none;
}

.header__search-form:focus .header__search-icon {
  outline: 1px solid #000000;
}

.header__search-input:focus ~ .header__search-form-wrapper,
.header__search-form:hover .header__search-form-wrapper {



}

/* Форма входа и регистрации */
.header__login-form {
  display: flex;
  margin-left: 10px;
  position: relative;
  min-height: 32px;
}

.header__login-form:focus-within,
.header__login-form:hover {
  min-height: 36px;
  margin-bottom: -4px;
}

.header__login-icon {
  display: flex;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: space-between;
  align-items: center;
  width: 92px;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  fill: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}


.header__login-form:focus-within .header__login-icon,
.header__login-form:hover .header__login-icon {
  background-color: #FFFFFF;
  fill: #323232;
  color: #323232;
}


.header__login-wrapper {
  display: none;
}

.header__login-form:hover .header__login-wrapper,
.header__login-form:focus-within .header__login-wrapper {
  display: block;
  position: absolute;
  top: 36px;
  right: 0;
  width: 277px;
  min-height: 214px;
  padding-top: 20px;
  padding-left: 19px;
  padding-right: 16px;
  padding-bottom: 22px;
  background: #F8F7F4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.header__login-email-input {
  width: 241px;
  min-height: 44px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  border: 1px solid #D3D3D2;
  background-color: #FFFFFF;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}


.header__login-password-input {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 241px;
  min-height: 44px;
  padding-top: 18px;
  padding-bottom: 17px;
  padding-left: 14px;
  background-color: #FFFFFF;
  border: 1px solid #D3D3D2;
  border-radius: 4px;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}


.header__login-submit-btn {
  display: inline-block;
  width: 103px;
  min-height: 44px;
  margin-top: 20px;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);
  color: #ffffff;
  border: none;
  border-radius: 26px;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;

}

.header__login-links-wrapper {
  float: right;
  display: flex;
  width: 119px;
  flex-direction: column;
  padding-top: 25px;
}

.header__login-link {
  display: block;
  width: 101px;
  height: 16px;
  font-size: 13px;
  line-height: 15px;
  color: #323232;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);

}


.header__login-link--registration {
  width: 119px;
  margin-top: 7px;

}





/* Корзина */
.basket {
  position: relative;
  display: flex;
  width: 100px;
  min-height: 32px;
  margin-left: 10px;
  min-height: 32px;
}

.basket--with-goods {
  width: 118px;
  margin-left: 9px;
}



.basket_icon-path-1 {
  fill: #ffffff;
}

.basket--with-goods:focus-within .basket_icon-path-1,
.basket--with-goods:hover .basket_icon-path-1 {
  fill: #323232;
}

.basket--with-goods:focus-within .basket_icon-path-2,
.basket--with-goods:hover .basket_icon-path-2 {
  fill: #E84D37;
}

.basket--with-goods:focus,
.basket--with-goods:hover{
  min-height: 36px;
  margin-bottom: -4px;
}

.basket__link {
  display: flex;
  width: 100%;
  height: 32px;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;

}

.basket__wrapper {
  display: none;
}

.basket--with-goods:focus-within .basket__wrapper,
.basket:hover .basket__wrapper {
  position: absolute;
  top: 36px;
  right: 0;
  display: flex;
  padding-left: 15px;
  padding-right: 14px;
  padding-bottom: 15px;
  flex-direction: column;
  align-items: flex-end;
  width: 539px;
  min-height: 242px;
  background: #F8F7F4;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.basket__table {
  width: 510px;
  padding-bottom: 18px;
  border-bottom: 1px solid #CACAC7;
  border-spacing: 0;
}

.basket__table-row {
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin-top: 20px;
}

.basket__delete-btn-cell {
  width: 23px;
  padding: 0;
}

.basket__delete-btn {
  background-color: transparent;
  border: none;
  width: 23px;
  min-height: 33px;
}

.basket__product-image {
  display: flex;
  min-height: 33px;
  padding: 0;
  justify-content: center;
  align-items: flex-start;

}

.basket__product-name {
  display: block;
  min-height: 33px;
  width: 251px;
  padding: 0;
  min-height: 33px;
  padding-top: 11px;
  padding-left: 10px;
  padding-right: 25px;
  font-size: 13px;
  line-height: 16px;
  color: #323232;

}

.basket__product-weight {
  display: flex;
  min-height: 33px;
  padding: 0;
  justify-content: center;
  width: 107px;
  padding-top: 11px;
  font-size: 13px;
  line-height: 16px;

}

.basket__product-price {
  display: flex;
  min-height: 33px;
  padding: 0;
  justify-content: center;
  width: 90px;
  padding-top: 11px;
  font-size: 13px;
  line-height: 16px;

}

.basket__product-price-coefficient {
  color: #C4C4C4;
}

.basket__final-price-wrapper {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-top: 16px;
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  color: #323232;
}

.basket__final-price {
  display: block;
  margin-left: 5px;
}

.basket__order-link {
  display: block;
  width: 172px;
  min-height: 44px;
  margin-top: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  color: #FFFFFF;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);
  border-radius: 26px;
}
/* Время работы и номер телефона */

.header__work-time {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;

}

.header__phone-number {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 8px;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: #FFFFFF;

}

/* Основной контент */
.main-title {
  display: block;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  color: #ffffff;
}

/* Фильтры */
.filters {
  width: 869px;
  min-height: 130px;
  margin-top: 29px;
}

.filters__sorting {
  position: relative;
  width: 196px;
  min-height: 36px;
  border: 0;
}

.filters__sorting-description  {
  display: block;
  font-size: 0;
  line-height: 0;
  width: 196px;
  min-height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  z-index: 2;
}

.filters__sorting-cutter {

}

.filters__sorting-control {
  background-image: url("../img/icon-down-dir.svg");
  background-position: right;
  background-repeat: no-repeat;
  width: 196px;
  overflow: hidden;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #FFFFFF;
}

.filters__sorting-control:focus {
  outline: none;
}

.filters__sorting-control-icon {
  position: absolute;
  z-index: 2;
  fill: #ECF1EE;
  top: 13px;
  right: 13px;
}

.filters__sorting-wrapper:focus-within .filters__sorting-control-icon {
  fill: #323232;
}


/* Слайдер */
.slider {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 716px;
  margin-top: -124px;
  z-index: 1;


}

.slider__background {
  position: absolute;
  width: 716px;
  height: 716px;
  background-color: rgba(215, 242, 227, 0.75);
  filter: blur(250px);
  z-index: 1;
}

.slider__list {
  position: absolute;
  width: 716px;
  height: 716px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider__buttons-wrapper {
  position: absolute;
  top: 563px;
  left: 0;
}

.slider__item {
  display: none;
}

.slider__radio--2:checked ~ .main .slider__background {
  background-color: rgba(218, 228, 239, 0.75);
}

.slider__radio--3:checked ~ .main .slider__background {
  background: rgba(239, 224, 218, 0.75);
}

.slider__radio--1:checked ~ .main .slider__item--1,
.slider__radio--2:checked ~ .main .slider__item--2,
.slider__radio--3:checked ~ .main .slider__item--3 {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 716px;
  height: 716px;
  top: 0;
  left: 0;
}

.slider__radio--2:checked ~ * {
  background-color: var(--basic-second-background);
}

.slider__radio--3:checked ~ * {
  background-color: var(--basic-third-background);
}


.slider__button {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  border: 2px solid #FFFFFF;
  font-size: 0;
  border-radius: 50%;

}

.slider__button:hover {
  background: rgba(255, 255, 255, 0.4);
}

.slider__radio--1:checked ~ .main .slider__button--1,
.slider__radio--2:checked ~ .main .slider__button--2,
.slider__radio--3:checked ~ .main .slider__button--3 {
  background-color: #ffffff;
}

.slider__radio:focus ~ .main .slider__button {
  outline: 2px solid #000000;
}



.slider__text-wrapper {
  position: absolute;
  top: 315px;
}


.slider__left-image {
  position: absolute;
  top: 83px;
  left:32px;
  z-index: 3;


}

.slider__right-image {
  position: absolute;
  top:119px;
  right: 40px;
  z-index: 2;

}

.slider__text {
  display: block;
  position: absolute;
  top: 398px;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 60px;
  line-height: 60px;
  font-weight: bold;
  color: #ffffff;
  z-index: 4;
}

.slider__link {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 544px;
  width: 278px;
  min-height: 63px;
  padding-top: 9px;
  padding-bottom: 10px;
  z-index: 4;
  color: #ffffff;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;

}


/* Акции */

.offers {
  position: relative;
  margin-top: -69px;
  z-index: 5;
}

.offers__list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style: none;
}

.offers__item {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  width: 560px;
  min-height: 226px;
  background-repeat: no-repeat;
}

.offers__item--raspberry {
  background-image: url("../img/raspberry-background.jpg");
}

.offers__item--chocolate {
  background-image: url("../img/chocolate-background.jpg");
}

.offers__title {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-left: 16px;
  font-size: 35px;
  line-height: 41px;
  color: #FFFFFF;
}

.offers__text {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff
}

.offers__link {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  margin-top: 42px;
  margin-right: 22px;
  min-height: 48px;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 22px;
  padding-right: 22px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
}

/* Хит продаж */
.catalog {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 40px;
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog__list--bestseller {
  grid-template-rows: min-content;
}

.catalog__item {
  position: relative;
  width: 267px;
  min-height: 320px;
}

.catalog__item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 267px;
}

.catalog__item:hover .catalog__background {
  position: absolute;
  left: -15px;
  padding-left: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 297px;
  min-height: 402px;
  z-index: 10;

}

.catalog__item:hover .catalog__item-wrapper {
  position: relative;
  padding-bottom: 21px;
}

.catalog__image {
  margin-top: 6px;
}

.catalog__price {
  position: absolute;
  top:218px;
  left: 0;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog__weight-unit {
  font-size: 30px;
line-height: 35px;
}

.catalog__title {
  display: block;
  width: 250px;
  margin: 0;
  padding: 0;
  margin-top: 17px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
}

.catalog__title-text {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: #FFFFFF;
}

.catalog__link {
  display: none;
}

.catalog__item:hover .catalog__link{
  display: flex;
  justify-content: center;
  margin-top: 11px;
  min-height: 48px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
}

.catalog__page-list {
  display: flex;
  align-self: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-top: 80px;
  margin-bottom: 30px;
  min-height: 26px;
  list-style: none;
}

.catalog__page-item {
  display: block;
  width: 26px;
  margin-right: 4px;
}


.catalog__page-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.catalog__page-link--current {
  border-radius: 50%;
  color: #323232;
  background-color: #ffffff;
}


.catalog__page-item--previous {
  width: 12px;
  margin-right: 10px;
}

.catalog__page-item--next {
  width: 12px;
  margin-right: 0;
  margin-left: 10px;
}

.catalog__page-link--previous {
  width: 13px;
  justify-content: flex-end;
  width: 13px;
  transform: rotate(-180deg);
}

.catalog__page-link--next {
  width: 13px;
  justify-content: flex-end;
  width: 13px;
}

.catalog__page-link-icon {
  fill: #ffffff;
}

.catalog__page-link--current-first .catalog__page-link-icon {
  fill: rgba(255, 255, 255, 0.2);
}

/* О компании */

.company-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 306px;
  margin-top: 40px;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 23px;
  padding-bottom: 25px;
  border-radius: 16px;
  background-image: url("../img/wafer-background.jpg");
  background-size: cover;
}

.company-info__description {
  display: block;
  width: 995px;
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.company-info__text-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.company-info__text {
  display: flex;
  width: 540px;
  min-height: 88px;
  margin: 0;
  padding: 0;
  color: #323232;
}

.company-info__text-content {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 14px;
  width: 485px;
  font-size: 16px;
  line-height: 22px;

}

.company-info__text::before {
  content: "";
  align-self: flex-start;
  display: block;
  width: 49px;
  height: 49px;
  margin-right: 6px;
  background-repeat: no-repeat;


}


.company-info__text--1::before {
  background-image: url("../img/ice-cream.svg");
}

.company-info__text--2::before {
  background-image: url("../img/cow.svg");
}

.company-info__text--3::before {
  background-image: url("../img/eco.svg");
}

.company-info__text--4::before {
  background-image: url("../img/thermometer.svg");
}



/* Блог */
.blog-newsletter-wrapper {
  display: flex;
  margin-top: 40px;
  justify-content: space-between;
}

.blog {
  width: 560px;
  min-height: 220px;
  border-radius: 16px;
  background-image: url("../img/strawberry-background.jpg");
}

.blog__text {
  display: block;
  margin-top: 15px;
  margin-left: 23px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.blog__link {
  display: block;
  width: 287px;
  margin-top: 15px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.blog__link-text {
  border-bottom: 2px solid #353535;
}

/* Новостная рассылка */
.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 560px;
  min-height: 220px;
  border-radius: 16px;
  background-image: url("../img/letter-background.jpg");

}

.newsletter__wrapper {
  width: 548px;
  min-height: 210px;
  padding-top: 29px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F8F7F4;
  border-radius: 16px
}

.newsletter__text {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
  color: #5A5A5A;
}

.newsletter__form {
  display: flex;
  justify-content: space-between;
  margin-top: 47px;
}

.newsletter__input {
  display: block;
  width: 368px;
  padding-top: 14px;
  padding-bottom: 13px;
  padding-left: 13px;
  background: #FFFFFF;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 6px;

}

.newsletter__input::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
}

.newsletter__submit-btn {
  display: block;
  width: 130px;
  min-height: 44px;
  border: none;
  padding-left: 19px;
  padding-right: 19px;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

/* Контакты */

.contacts {
  position: relative;
  width: 100%;
  min-height: 430px;
  margin-top: 40px;
}

/* Карта */

.contacts__map {
  position: absolute;
  width: 100%;
  min-height: 430px;
  z-index: 2;
}

.contacts__info-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 430px;
}

.contacts__info {
  position: relative;
  width: 303px;
  min-height: 306px;
  padding-top: 32px;
  padding-bottom: 31px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #FEFEFE;
  border-radius: 16px;
  z-index: 2;

}

.contacts__address {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: #323232;

}

.contacts__address-text {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 0px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

}

.contacts__phone-number {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;

}

.contacts__phone-number-text {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 4px;
  margin-bottom: 2px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

}

.contacts__work-time {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 0px;
  font-size: 14px;
  line-height: 20px;
  color: #323232;

}

.contacts__feedback-btn {
  display: block;
  width: 253px;
  min-height: 43px;
  margin-top: 22px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 70px;

}





/* Футер */


.footer {

}

.footer__wrapper {
  display: flex;
  width: 1146px;
  margin: 0 auto;
  min-height: 68px;
  justify-content: space-between;
  border-top: 1px solid rgba(255, 255, 255, 0.2);

}

.footer__wrapper--main {
  border: none;
}

.footer__social-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

}

.footer__social-link {
  position: relative;
  display: block;
  margin-top: 34px;
  width: 36px;
  height: 36px;

}

.footer__social-image {
  display: block;
  border: 2px solid rgba(255, 255, 255, 0.5);

  border-radius: 50%;

}

.footer__info-wrapper {
  display: flex;
  justify-content: space-between;
  width: 327px;
  min-height: 37px;
  margin-top: 36px;
}

.footer__info-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 37px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  width: 327px;
  list-style: none;
}

.footer__info-item {


}

.footer__info-link {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

}

.footer__info-link--for-suppliers {
  font-weight: bold;
}

.footer__info-link--about-production {
  margin-left: 22px;
}

.footer__info-item--for-suppliers::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  margin-top: 3px;
  margin-right: 7px;
}




.footer__creator-wrapper {
  width: 190px;
  min-height: 60px;
  margin-top: 18px;
}

.footer__creator-source {
  font-size: 12px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.footer__creator-link {
  color: #FFFFFF;
}


/* Всплывающее окно */
/*
background: rgba(0, 0, 0, 0.3); */
